{% extends 'admin/base_admin.html.twig' %}

{% block title %}Créer un nouvel utilisateur
{% endblock %}

{% block h1 %}Créer un nouvel utilisateur
{% endblock %}

{% block admin_content %}
	<section>
		{{ include('admin/user/_form.html.twig') }}
	</section>
{% endblock %}
