{% extends 'base.html.twig' %}

{% block title %}Tous les évènements
{% endblock %}

{% import 'macro/event_card.html.twig' as macros %}

{% block body %}
	<section class="flex flex-col gap-10 my-10">
		{% for event in events %}
			{{ macros.AfficheEventCard(event) }}
		{% endfor %}
	</section>

	{% if not is_granted("ROLE_SUPERVISOR")%}
		<a href={{path("app_event_new")}} class="btn">Créer un nouvel event</a>
	{% endif %}
{% endblock %}
