{% extends 'base.html.twig' %}

{% block title %}Créer un évènement
{% endblock %}

{% block body %}
	<section>
		<a class="btn-secondary" href={{path("app_event_author")}}>
			Voir mes évènements crée
		</a>

		{{ include('event/_form.html.twig') }}

		<div class="flex items-center justify-center mt-4">
			<a href="{{ path('app_event_author') }}"></a>
		</div>
	</section>
{% endblock %}
