{{ form_start(form) }}
{{ form_widget(form, {"attr":{class:"flex flex-col gap-5 mb-8"}}) }}
<div class="flex justify-center">
	<button class="btn">{{ button_label|default('Enregistré') }}</button>
</div>
{{ form_end(form) }}
