{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau topic{% endblock %}

{% block body %}
  
 
         <section>
             {{ include('forum/topic/_form.html.twig') }}

            
         </section>
 {% endblock %}
