{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="flex justify-center items-center h-48 mt-">
<div>
    <h1>Hello welcome on AlphaCorp ! ✅</h1>
    <p class="text-red-500">lala</p>
     </div>
</div>
 {% endblock %}
