{% macro AfficheQuizCard(quiz) %}
	<div class="shadow shadow-neutral-900 p-5 flex flex-col justify-between h-45 hover:scale-110 transition rounded-md">
		<div>
			<h2 class="text-2xl text-fuchsia-300 font-bold">{{quiz.title}}
				<span class="text-base text-neutral-400 font-medium">-
					{{quiz.questions|length}}
					questions</span>
			</h2>
		</div>
		{% if app.user.hasAnsweredQuiz(quiz)%}
			<a href={{ path('app_quiz_start', {id: quiz.id} ) }} class="btn-secondary mx-auto">Voir mon score</a>
		{% else %}
			<a href={{ path('app_quiz_start', {id: quiz.id} ) }} class="btn mx-auto">Commencer le quiz</a>
		{% endif %}
	</div>
{% endmacro %}
