<section class="flex md:flex-row flex-col  md:justify-between items-center">
	<h2 class="text-xl font-semibold">Les bromances
		<span class="text-sm text-neutral-400">-
			{{user.bromancesAlpha|length}}</span>
	</h2>
	<a href={{path(path_bromance)}} class="btn-secondary">Toutes les bromances</a>
</section>
