{% if user.authorEvents|length > 0 %}
	<section class="mt-20 ">
		<h2 class="text-xl font-semibold">Les Events crées
			<span class="text-sm text-neutral-400">-
				{{ user.authorEvents|length }}
			</span>
		</h2>
		<div class=" grid-cols-1 gap-y-5 sm:grid-cols-4 gap-x-5 pt-8">
			{% for event in user.authorEvents|slice(0, 4) %}
				<a href={{path("app_event_show", {id: event.id} )}} class=" w-60">
					{% include "parts/components/card_col.html.twig" with {"title": event.title, "height": 40, img : event.image} %}
				</a>
			{% else %}
				<p>Aucun article trouvé.</p>
			{% endfor %}
			{% if user.authorEvents|length > 4 %}
				<a href={{path(path_event_author)}} class="w-40 border border-neutral-300 rounded-md p-3 flex items-center hover:scale-105 transition font-bold text-center">
					<p>Voir tous les évènements crées</p>
				</a>
			{% endif %}
		</div>
	</section>
{% endif %}
