<form method="post" action="{{ path('app_question_supervisor_delete', {'id': question.id}) }}" onsubmit="return confirm('Voulez-vous supprimé cette question?');" class="flex justify-center mt-4">

	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ question.id) }}">
	<button class="btn-delete">Supprimé</button>
</form>
