{% extends 'admin/base_admin.html.twig' %}

{% block admin_title %}Admin{% endblock %} 
{% set data = [
    {
        label: 'Users',
        path: 'admin_user_homepage', 
        icon :"user",
    },
    {
        label: 'Topics',
        path: 'admin_topic_home', 
        icon :"book",
    },
    {
        label: 'Réponses',
        path: 'admin_response_homepage', 
        icon :"message-circle",
    },
    {
        label: 'Catégories',
        path: 'admin_category_homepage',         
        icon :"folder",
    },
    {
        label: 'Langue',
        path: 'admin_language_homepage',      
        icon :"flag",
    },
    {
        label: 'Débannissement',
        path: 'admin_banrequest', 
        icon :"user-x",
    },
] %}
{% block admin_content %}
    <section class="grid grid-cols-2 gap-y-5 sm:grid-cols-4 gap-x-5"> 
        {% for item in data %}
            <a href="{{ path(item.path) }}" class="relative flex flex-col items-center justify-center rounded-xl overflow-hidden aspect-square border hover:scale-105 cursor-pointer transition hover:bg-neutral-700 ">
                {{ ux_icon('tabler:' ~ item.icon, {class: 'w-17 h-17 mb-4'}) }}
                <p class="capitalize font-medium text-3xl truncate">{{ item.label }}</p>
            </a>
        {% endfor %}
     </section>
 {% endblock %}
