{% extends 'base.html.twig' %}

{% block title %}Edit Quiz{% endblock %}

{% block body %}
    <h1>Edit Quiz</h1>

    {{ include('quiz/supervisor/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_quiz_supervisor_index') }}">back to list</a>

    {{ include('quiz/supervisor/_delete_form.html.twig') }}
{% endblock %}
