{% extends 'base.html.twig' %}

{% block title %}Edit Quiz
{% endblock %}

{% block body %}
	<a href={{ path("app_quiz_supervisor_show", {"id": quiz.id} ) }} class="flex hover:outline outline-neutral-300 w-fit rounded-3xl px-3 py-2 mb-4">
		{{ ux_icon('tabler:chevron-left', {class: 'w-6 h-6'}) }}
		Retour au quiz
	</a>

	{{ include('quiz/supervisor/_form.html.twig', {'button_label': 'Modifier'}) }}

	{{ include('quiz/supervisor/_delete_form.html.twig') }}
{% endblock %}
