{{ form_start(form) }}
{{ form_row(form, {"attr":{class:"flex flex-col gap-5 mb-8"}}) }}
<div class="flex justify-center mb-4">
	<button class="btn">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
