<a href="{{ path(pathName, parameters | default({})) }}" class="flex items-center text-fuchsia-300 rounded-full border border-fuchsia-300 px-4 py-2   hover:bg-fuchsia-400 hover:text-white transition ">
<p class="text-center w-full">

   {{label}}
   </p>
</a>