        <button {{action}} class="text-fuchsia-300 rounded-full border border-fuchsia-300 px-4 py-2   hover:bg-fuchsia-400 hover:text-white transition" type="submit">
            Se connecter
        </button>