<li>
	<a href={{ path(pathName, parameters | default({} )) }} class="hover:text-fuchsia-300 {{ app.request.attributes.get('_route') == pathName ? 'text-fuchsia-500': 'text-white '}} ">
		{{ label|raw }}
	</a>
</li>
