<li>
    <a href="{{ path(pathName) }}"
       class="text-white hover:text-fuchsia-300 
       {% if app.request.attributes.get('_route') == pathName %}font-bold text-fuchsia-500{% endif %}">
        {{ label }}
    </a>
</li>
