{% extends 'base.html.twig' %}

{% block title %}Toutes les formations
{% endblock %}

{% import 'macro/academy_card.html.twig' as macros %}

{% block body %}
	<div class="grid grid-cols-1 gap-y-5 sm:grid-cols-3 gap-x-5 pt-8">


		{% for academy in academies %}
			{{ macros.AfficheAcademyCard(academy) }}
		{% endfor %}
	</div>
{% endblock %}
