<form method="post" action={{ path('admin_topic_delete', {id: topic.id} ) }} onsubmit="return confirm('Are you sure you want to delete this item?');" class="btn-delete">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ topic.id) }}">
	<button type="submit">
		Supprimer
	</button>
</form>
