{% extends 'admin/base_admin.html.twig' %}

{% block admin_title %}Modifier
	{{topic.title}}
{% endblock %}
{% set return_path = 'admin_topic_show' %}
{% set return_params = { id: topic.id } %}


{% block admin_content %}
	<div>
		{{ include('admin/topic/_form.html.twig') }}
	</div>
	<div class="flex justify-center">
		{{ include('forum/topic/_delete_form.html.twig') }}
	</div>
{% endblock %}
