{% extends 'admin/base_admin.html.twig' %}

{% block admin_title %}Créer un nouveau topic
{% endblock %}
{% set return_path = 'admin_topic_homepage' %}

{% block admin_content %}
	<section>
		{{ include('admin/topic/_form.html.twig') }}
	</section>
{% endblock %}
