{% extends 'base.html.twig' %}

{% block title %}Tous nos quiz !
{% endblock %}

{% import 'macro/quiz/quiz_card.html.twig' as macros %}

{% block body %}
	<section class=" grid grid-cols-1 gap-y-5 md:grid-cols-3 lg:grid-cols-4 gap-x-7">
		{% for quiz in quizs %}
			{{ macros.AfficheQuizCard(quiz) }}
		{% endfor %}
	</section>
{% endblock %}
