<form method="post" action="{{ path('admin_category_delete', {'id': category.id}) }}" class="flex justify-center items-center" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
         <p class="text-red-700 hover:underline">
        Supprimer
    </p>
</form>
