{% extends 'admin/base_admin.html.twig' %}

{% block admin_title %}Créer un nouvelle catégory{% endblock %} 
 {% set return_path = 'admin_category_homepage' %} 

{% block admin_content %}
         <section>
             {{ include('admin/category/_form.html.twig') }}
         </section>
 {% endblock %}
