{% macro afficheReponse(response, topic) %}
	<li class="mt-4 list-none rounded p-4 shadow shadow-neutral-900">
		<div class="flex items-center w">
			<div class=" w-full flex items-center justify-between">
				<div class="flex items-center justify-between w-full">
					<p class="font-medium">{{response.author.username}}</p>
					<p class="text-xs text-gray-500  ">
						{{ response.createdAt|format_datetime('short', 'none', locale: 'fr') }}
					</p>
				</div>

				{% if response.author == app.user %}

					{% if response.status.value == 'validated' %}
						<p class="py-1.5 px-2.5  rounded-full text-xs text-nowrap ml-2 bg-green-500/30 ">Validé</p>


						{# </div> #}
					{% elseif response.status.value == 'rejected' %}
						<p class="py-1.5 px-2.5  rounded-full text-xs text-nowrap ml-2">Rejeté</p>
					{% elseif response.status.value == 'deleted' %}
						<p class="py-1.5 px-2.5  rounded-full text-xs text-nowrap ml-2">Supprimé</p>
					{% elseif response.status.value == 'waiting' %}
						<p class=" py-1.5 px-2.5  rounded-full text-xs text-nowrap ml-2 bg-orange-500/30">En attente</p>
					{% endif %}

				{% endif %}
			</div>
		</div>

		<p class="mt-4 w-full">{{response.content}}</p>

		{% if response.author == app.user and response.status.value != 'deleted' %}
			<form method="POST" action="{{ path('app_response_delete', { id: response.id }) }}">
				<input type="hidden" name="status" value="deleted">
				<button type="submit" class="text-end w-full text-red-700 hover:underline">
					Supprimer
				</button>
			</form>
		{% endif %}
	</li>
{% endmacro %}
