{% extends 'admin/base_admin.html.twig' %}

{% block title %}Edit Rank
{% endblock %}
{% set return_path = 'admin_rank_show' %}
{% set return_params = { id: rank.id } %}

{% block admin_content %}

	{{ include('admin/rank/_form.html.twig') }}

	<div class="mt-4 mx-auto w-fit">
		{{ include('admin/rank/_delete_form.html.twig') }}
	</div>
{% endblock %}
