{% extends 'base.html.twig' %}

{% block title %}Ranks
{% endblock %}

{% block body %}
	<section>
		{% for rank in ranks %}
			<article class="flex justify-between items-center shadow-lg shadow-neutral-900 p-6 rounded-md my-8">
				<div>
					<p>{{rank.title}}</p>
					<p>{{rank.description}}</p>
				</div>
				<p class="bg-fuchsia-500 rounded-full h-fit px-4 py-2">Minimum :
					{{rank.minimum}}</p>
			</article>
		{% endfor %}
	</section>
{% endblock %}
