{% extends 'base.html.twig' %}

{% block title %}Paiement annulé
{% endblock %}

{% block body %}
	<p class="mb-8">Votre paiement pour la formation
		<strong>{{ academy.title }}</strong>
		a été annulé.</p>
	<a href="{{ path('app_academy_show', {'id': academy.id}) }}" class="btn">Retour à la formation</a>
{% endblock %}
