{% extends 'base.html.twig' %}

{% block title %}Paiement réussi !
{% endblock %}

{% block body %}
	<p class="mb-8">Merci pour votre achat. Vous avez maintenant accès à la formation
		<strong>{{ academy.title }}</strong>.</p>
	<a href="{{ path('app_academy_show', {'id': academy.id}) }}" class="btn">Accéder à la formation</a>
{% endblock %}
