{% extends 'admin/base_admin.html.twig' %}

{% block title %}Créer une nouvelle langue{% endblock %}
{% block h1 %}Créer une nouvelle langue{% endblock %}

{% block admin_content %}
         <section>
   

            {{ include('admin/language/_form.html.twig') }}
 
            </div>
            </div>
        </section>
 {% endblock %}
