{% extends 'base.html.twig' %}

{% block title %}Utilisateurs Alpha{% endblock %}

{% block body %}
    <h1>Toutes les utilisateurs alphas</h1>
    {% for alpha in alphas %}
        {% if app.user and alpha.id != app.user.id %}
            <div>
                <p>{{alpha.username}}</p>
                <a href="{{ path('user_profil', {'id': alpha.id}) }}">
                    <button class="relative flex bg-blue-600 flex-row p-2 items-center justify-center rounded-md text-sm overflow-hidden border cursor-pointer transition text-white hover:opacity-90 hover:scale-105">
                        Voir son profil
                    </button>
                </a>
            </diV>
        {% endif %}
    {% endfor %}
{% endblock %}
