{% extends 'base.html.twig' %}

{% block title %}Vos topics
{% endblock %}

{% block body %}
	<section>
		<a class="w-full" href="{{ path('app_forum_new')}}">
			<p class="btn w-full">
				Créer un nouveau topic
			</p>
		</a>
	</section>
	<section class="mt-4">
		{% if topics is empty %}
			<h2>Vous n'avez aucun topic d'ouvert.</h2>
		{% else %}
			<div class="grid grid-cols-2 gap-y-5 sm:grid-cols-4 gap-x-5 mt-9">
				{% for topic in topics %}
					{% include "macro/forum/topic_card.html.twig" with {"title": topic.title, "height": 50} %}
				{% endfor %}
			</div>
		{% endif %}
	</section>
{% endblock %}
