{% extends 'base.html.twig' %}

{% block title %}Edit Contest
{% endblock %}

{% block body %}
	<a href={{ path("app_contest_supervisor_show", {'id': contest.id} ) }} class="flex hover:outline outline-neutral-300 w-fit rounded-3xl px-3 py-2 mb-4">
		{{ ux_icon('tabler:chevron-left', {class: 'w-6 h-6'}) }}
		Retour à la liste
	</a>

	{{ include('contest/supervisor/_form.html.twig', {'button_label': 'Modifier'}) }}

	{{ include('contest/supervisor/_delete_form.html.twig') }}
{% endblock %}
